*{
    font-family:'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.btn-primary{
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #FF900E;
border: none;
padding: 18px 21px;
}

header{
    background: rgba(255, 144, 14, 0.10);
    margin-bottom: 100px;
}
.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 80px;
    
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}
.menu{
    display: flex;
    list-style: none;
}
.navlink{
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}


/* header section style end here  */
/* banner section style start here  */
.banner{
    padding: 50px 230px 30px ;
    margin: 0px auto;
}
.banner-text{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.bnr-title{
color:  #131313;
font-size: 55px;
font-style: normal;
font-weight: 700;
}
.bnr-description{
color: #727272;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 162.5% */
margin: 10px 0px;
}
.banner img{
    width: 100%;
    margin: 50px 0px 20px;
}
/* header section style end here  */
/* main section style start here  */
main{
    
    padding: 0 250px;
    margin: 0px auto;
    gap:30px
}
.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 100px;
}
.feature-img-container > img{
    width: 260px;
}
.feature-content{
    margin-left: 50px;
}
.ql{
color: #727272;
font-size: 40px;
font-weight: 500;
}
.OO{
color: #131313;
font-size: 45px;
font-weight: 700;
}
.F{
color: #FF900E;
font-size: 45px;
font-weight: 700;
}
.description{
 color: #727272;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 22px;
margin-bottom: 30px;
}
/* feature section style done  */
/* experience section start here  */

.experience{
    display: flex;
    align-items: center;
    gap: 0px 140px;
    margin-bottom: 100px;
    
}
.ex-head{
    border-left: 4px solid  #FF900E;
    padding-left: 20px;
}
.ex-des{
    margin-left: 20px;
}
#arch{
    width: 32rem;
}
.arch-badg{
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 30px 25px;
    position: relative;
    bottom: 100px;
    right: 50px;
}
.ten{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
#ex{
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
.card{
    width: 32rem;
    height: 150px;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.box-title{
    color:  #131313;
    font-size: 20px;
    font-weight: 600;
}
.box-description{
color: #727272;
font-size: 0.9rem;
font-weight: 400;
margin-top: 10px;
}


/* experience end here  */
.box{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #FF900E;
    padding: 40px 24px;
    text-align:center;
}
.counter{
color:#424242;
font-size: 45px;
font-weight: 600;
}
.box-name{
color: #727272;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fact-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
/* fact section done here  */
/* sponsore section start here  */
.sponsore{
    margin-top: 150px;
}


.sponsore-intro{
    text-align: center;
}
.sponsore-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.sponsore-logo > img {
    width: 160px;
}

.copyright{
    background: #FFF4E7;
    padding: 30px 200px;
    margin: 80px 250px;
    text-align: center;
}
.footer-text{
color: #424242;
text-align: center;
font-size: 1rem;
font-weight: 400;
}






/* responsive design  */
/* for mobile or mini divice  */
@media screen  and (max-width:576px) {

    .header-bar{
       flex-direction: column;
        padding: 20px 50px 20px;
        
    }
    .menu{
        margin: 10px 0px;
    }
    .banner{
        padding: 0px 30px;
    }
    .bnr-title{
        font-size: 41px;
    }
    .banner-text{
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    /* header section done and end here  */
    .feature{
        flex-direction: column-reverse;
    }
    main{
        padding: 0px 0px;
    }
    .feature-content {
        margin-left: 0px;
        /* text-align: center; */
        padding: 0px 20px;
    }

    .feature-img-container{
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 20px 0px;
    }
    .feature-img-container > img{
        width: auto;
    }
    /* feature section responsive done  */
    /* experience section responsive start here  */
  

    /* expreience section responsve end here  */
     /* fact section responsive start here  */
     .fact-box{
        flex-direction: column;
        row-gap: 20px;
     }
     .box{
         width: 285px;
     }
     .facts-info{
        text-align: center;
        margin: 10px auto;
        
     }

    /* fact section end here  */
    .sponsore-logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
        margin: 0 30px;
    }
    .sponsore-logo > img {
        width: 120px;
    }
    footer{
        margin: 80px 0px;
    }


    .copyright{
        padding: 10px;
        margin: 20px 5px;
        text-align: center;
    }
    .footer-txt{
        font-size: 0.8rem;

    }
    



   /* mobile device media queries end here   */
}

/* table deveice or Medium Device response  */
@media screen and (min-width:577px) and (max-width:960px) {
    .banner{
        padding: 0px 30px;
    }

    .banner-text{
            width: auto;
            margin: 0 auto;
            text-align: center;
        }

    .header-bar{
             padding: 20px 50px 30px;
             
         }

         /* header section responsive done end here  */
         main{
             padding: 0 30px;
         }
         .feature-img-container > img {
            width: 160px;
        }
        .description{
            font-size: 13px;
            line-height: normal;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        .feature-btn{
            font-size: 15px;


        }
}